:root {
    --header-blue: #006ab5;
}

.navbar {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: var(--header-blue);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding:13px;
    margin:0;
    font-size: medium;
}

.link {
    margin: 20px;
}

#footer {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 13px;
    font-size: medium;
    background-color: var(--header-blue);
}

.general {
    text-align: center;
    margin: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.box {
    text-align: left;
    width: 120px;
}

.box2 {
    text-align: left;
    width: 300px;
}

.padding {
    margin: 50px;
}

.border {
    border: 5px ridge rgb(133, 69, 48);
}

a {
    border: 0px solid white;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/corner-shape */
    border-radius: 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    color: white;
}

a:hover {
    /* https://www.rose-hulman.edu/index.html */
    /* I saw this on the rose hulman website how the buttons inverse colors when you hover them */
    color: var(--header-blue);
    background-color: white;
}

body {
    margin: 0%;
    padding: 0%;
}

.selected {
    border: 1px solid white;
}

.blue {
    background-color: var(--header-blue);
}